@import '../../../theme.scss';

.tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .single-tile {
        display: flex;
        flex-direction: column;

        min-width: 10vw;
        margin: 1vh 1vw;
        padding: 10px;

        .title {
            font-weight: bold;
            text-align: center;
        }

        .content {
            text-align: center;
            margin-top: 0;
        }
    }
}
