$white: #f5f5f5;
$mango: #f5a32d;
$red-brown: #631414;
$azure: #009add;
$blue: #0a1454;
$blue2: #07397a;
$blackPrem: rgba(255, 255, 255, 0);
$very-light-blue: #e9f1f4;
$light-grey: #747e8c;
$cherry-red: #e60420;
$black24: #242020;
$black30: #302b2b;
$black39: #393939;
$black16: #161313;
$pure-black: #000000;

$light-white: #ebebeb;
$whiteFB: #fbfaff;
$whitePure: #ffffff;
$grey8: #8e8e93;

$warm-grey: #979595;

html,
body,
#root {
    margin: 0px;
    height: 100%;
    background-color: #e9f1f4;
}

body {
    background-color: $white;
}
